*.swp
*.iml
local.properties
class_files.txt
seeds.txt
unused.txt
build
bin
out
gen
obj
.idea
.settings
lint.xml
*.so
publish.keystore
build.xml
ant.properties
.gradle
build-tools_*.zip
gradle-*
gradle-*
.DS_Store
signing.properties
